.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.PokemonList {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.SearchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.SearchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.TypeSelect {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.PokemonItem {
  list-style-type: none;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}

.PokemonItem:hover {
  background-color: #e0e0e0;
}

.PokemonDetails {
  margin-top: 20px;
}

.PokemonCardContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Répéter l'affichage des cartes 5 fois max par ligne*/
  grid-gap: 20px;
}

.PokemonCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.PokemonImage {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.details-pokemon{
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
  background-color: rgb(155, 155, 155);
  align-items: center;
  text-align: center;
}

.card{
  align-items: center;
  height: 200px;
  max-width: 12rem;
  margin: 0 auto;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
